@using InteriorDesign.Models

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AlertModel alertMessage = TempData["AlertMessage"] as AlertModel;
}

<div class="layout">

    <!-- Home -->

    <main class="main main-inner main-contacts bg-contacts" data-stellar-background-ratio="0.6">
        <div class="container">
            <header class="main-header">
                <h1>SignUp</h1>
            </header>
        </div>
    </main>
    
    <div class="content">

        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Note:
            </strong> Make Sure that PhoneNumber is unique. It will be used while login. 
        </div>


        @if (alertMessage != null)
        {
            @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertMessage)
        }

        <!-- Objects -->
        <!-- Contacts -->
   
            <section class="contacts section">
                <div class="container">
                    <header class="section-header">
                        <h2 class="section-title">Join <span class="text-primary"> us Today</span></h2>
                    </header>
                    <div class="section-content">
                        <div class="row-base row">
                            <div class="col-base col-md-12">
                                <form id="signUpUser">
                                    <div class="row-field row">
                                        <div class="col-field col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="FirstName" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-field col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="LastName" placeholder="Last Name">
                                            </div>

                                        </div>
                                        <div class="col-field col-sm-12 col-md-12">
                                            <div class=" row form-group">
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <input type="email" class="form-control" name="Email" id="Email" required placeholder="Email *">
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <input type="text" class="form-control" name="ValidationCode" id="ValidationCode" required placeholder="Enter Verification Code sent to email entered *" style="display: none;">
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <input type="text" class="form-control" name="ValidationCodeGen" id="ValidationCodeGen" required style="display: none;">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-field col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <input type="number" class="form-control" name="PhoneNo" id="PhoneNo" required placeholder="PhoneNo *">
                                            </div>
                                        </div>

                                        <div class="col-field col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="Password" id="Password" required placeholder="Password *">
                                            </div>
                                        </div>
                                        <div class="col-field col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" required placeholder="Confirm Password *">
                                            </div>
                                        </div>
                                        <div class="col-message col-field col-sm-12">
                                            <div class="form-group">
                                                <div class="success-message"><i class="fa fa-check text-primary"></i> You are Successfully SignedUp</div>
                                                <div class="error-message">We're sorry, but something went wrong</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-submit text-right"><button class="btn btn-shadow-2 wow swing" id="signUpBtn">SignUp <i class="icon-next"></i></button></div>
                                </form>
                            </div>
                        </div>
                    </div>
              </div>
                    </section>
   
        <!-- Footer -->

        <footer id="footer" class="footer">
            <div class="container">
                <div class="row-base row">
                    <div class="col-base text-left-md col-md-4">
                        <a href="#" class="brand">
                            Go<span class="text-primary">.</span>Interior
                        </a>
                    </div>
                    <div class="text-center-md col-base col-md-4">
                        <a href="#" class="author-link">
                            by USAWAN
                        </a>
                    </div>
                    <div class="text-right-md col-base col-md-4">
                        ©go.Interiors 2018. All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer>

        <!-- Lines -->

        <div class="page-lines">
            <div class="container">
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    
        $("#signUpBtn").click(function () {

            var emailLength = $("#Email").val();
            var passwordLength = $("#Password").val();
            var confPasswordLength = $("#ConfirmPassword").val();
            var PhoneNoLength = $("#PhoneNo").val();
            var validationCodeLength = $("#ValidationCode").val();
            var validationCodeGenLength = $("#ValidationCodeGen").val();

            if (validationCodeLength != validationCodeGenLength) {
                alert("Verification Code you entered is incorrect");
            }

            if (emailLength != "" && passwordLength != "" && confPasswordLength != "" && PhoneNoLength != "" && validationCodeLength!="") {
                   alert("fill all the fields jquery");      
            }
            else {
                   alert("SignUp Success");
            }
    });

    var email;

    $("#Email").blur(function () {
        if ($(this).val().length == 0) {
            $("#ValidationCode").hide();
        }
        else {

            $("#ValidationCode").show();
            email = $(this).val();
        $.ajax({
            type: "Post",
            url: "/Shared/CheckEmail/?email=" + email,
            dataType: 'json', //tell the type and other things
            contentType: false,
            processData: false
          })
            .done(function (response) {
                if (response.Message == "Email Sent") {
                    $("#ValidationCodeGen").val(response.VerificationCode);
                }
                else {
                    alert("Enter a valid Email");
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                
            });


        }
    });
</script>
